<html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: white;
                color: blue;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <center><h1>Welcome :-)</h1></center>
        <h3>Hello {{fname}} {{lname}}!</h3>
        <h4>You're successfully logged in.</h4>

      <button type="submit"><a href="http://localhost:8000/login/"><b>Sign Out</b></a></button><br>     
    
    </body>

</html>